@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .login-container {
    @apply h-[100vh] bg-primary flex justify-center items-center;
  }
.formContainer{
  @apply bg-secondary rounded-[1rem] p-9 sm:p-10 sm:w-[70%] md:w-[30%];
}
.brand-title{
  @apply text-3xl mb-3 text-center p-3 font-extrabold uppercase;
}
.nav-text-hover:hover, .active {
  @apply text-xl underline transition-all;
}
.email-hover:hover::after{
content: "muhammet@gmail.com";
color: red;
}
.password-hover:hover::after{
  content: "123";
  color: red;
  }
}




